
 .greyBackground{
 -fx-background-color: #333333;
 }
 .listviewBackground{
 -fx-background-color: #333333;
 -fx-background-radius: 8.0;
 -fx-border-color: #f5f5f5;
 -fx-border-radius: 8.0;
 }
 .albumText{
 -fx-font-weight: bold;
 -fx-font-size: 13;
 -fx-text-fill: #71767c;
 }
  .artistText{
  -fx-font-weight: bold;
  -fx-font-size: 12;
  -fx-text-fill: #71767c;
 }
 .descriptionText{
   -fx-text-fill: #71767c;
 }
 .textField{
 -fx-background-color: #74747b;
 -fx-background-radius: 8.0;
 -fx-text-fill :#dcdcdc;

 }
 .menu-bar {
 -fx-background-color: #085562;    /* The menu bar itself */ }

 .menu .label {
   -fx-text-fill: white;
   -fx-font-size: 13; /* Styles the text on a menu item */ }
 .menu:showing .label {
   -fx-text-fill: black;
   -fx-font-size: 13;
 /* Styles the text on a menu item when activated */ }


 .text-area {
     -fx-font-family: Consolas;
     -fx-font-size: 13;
     -fx-text-fill: #dcdcdc;
     -fx-display-caret:true;

 }

 .text-area .content {
     -fx-background-color: #74747b;
 }

 }
 .labelColor{
 -fx-text-fill: #dcdcdc;
 -fx-font-size: 14;
 }
 .mainLabelColor{
 -fx-text-fill: #dcdcdc;
  -fx-font-size: 16;
 }
 .buttonColor{
 -fx-background-color:#085562;
 -fx-background-radius: 8.0;
 -fx-border-color: #1a1a1a;
 -fx-border-radius: 8.0;
 }
 .list-cell:filled:selected:focused, .list-cell:filled:selected {

     -fx-background-color: #085562;
     -fx-text-fill: white;
 }
 .list-cell { -fx-text-fill: #dcdcdc;  }
 .list-cell:odd { -fx-background-color:#373636; }
 .list-cell:even { -fx-background-color: #333333;  }
 .list-cell:filled:hover {
     -fx-background-color:#085562 ;
     -fx-text-fill: white;
 }

